@font-face {
  font-family: SourceCodePro;
  src: url(fonts/SourceCodePro-Regular.ttf);
}
@font-face {
  font-family: SourceCodePro;
  src: url(fonts/SourceCodePro-Bold.ttf);
  font-weight: bold;
}

@keyframes blink-animation {
  50% {
      opacity: 0;
  }
}

.text-with-cursor::after {
  content: '|';
  color: gray;
  display: inline-block;
  animation-name: blink-animation;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

body {
  margin: 0;
  font-family: 'SourceCodePro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-square {
  width: 15vh;
  height: 15vh;
  max-width: 20vw;
  max-height: 20vw;
  border: 2px solid black;
  font-size: 12vh;
  text-align: center;
  font-family: 'SourceCodePro';
}

.game-table{
  border-collapse: collapse;
  border-radius: 20px;
  border: solid transparent;
}

.game-bord{
  display: inline-block;
  overflow: auto;
  background-image: linear-gradient(45deg, #81a1c1, #b48ead, #bf616a);
  padding: 10px;
  color: black;
  border-radius: 20px;
}

.game{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site{
  display: flex;
  width: 80vw;
  background-color: #3b4252;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body{
  display: flex;
  background-image: url(game_background.png);
  justify-content: center;
  color: rgb(169, 193, 212);
}
h1{
  color: #ebcb8b;
  font-size: 64px
}
mark{
  background: transparent;
  color: rgb(169, 193, 212);
  font-weight: bold;
}
.points{
  text-align: center;
}

mark p td body h1 {
  font-family: 'SourceCodePro';
}

.start-intructions{
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.transparent{
  color: transparent;
}